*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;

  }
  body{

    height: 100%;
    display: flex;
    align-items: center;
    background: linear-gradient(135deg, #ffffff,#2f40d5);
  }