
.container{
    max-width: 700px;
    width: 100%;
   
    background-color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    margin-left: 50%;
    margin-top: 5%;
  }
  .container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
  }
  .container .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #ffffff,#2f40d5);
  }
  .content .appof .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  .appof .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
  }
  .appof .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }

 
   .appof .category{
     display: flex;
     width: 80%;
     margin: 14px 0 ;
     justify-content: space-between;
   }
  .details p .contentof {
    margin-left:250px ;
  }
 
 
   
  
  