* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bodyoo {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(236, 236, 238);
  overflow: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(135deg, #ffffff,#2f40d5);
  
}

.bodyoo .container_login {
  background-color: white;
  padding: 1rem 3rem;
  padding-bottom: 2rem;
  box-shadow: 1 20px 20px #2f40d5;
  border-radius: 10px;
}

.bodyoo .container_login h2 {
  margin: 1rem 0;
  position: relative;
}


.bodyoo .container_login h2:before {
  content: "";
position: absolute;
left: 0;
bottom: 0;
height: 3px;
width: 50px;
border-radius: 5px;
background: linear-gradient(135deg, #ffffff,#2f40d5);
}

.bodyoo .container_login form {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.bodyoo .container_login form div {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.bodyoo .container_login form input {
  padding: 0.5rem;
  border-radius: 0.3rem;
  font-size: 1.1rem;
  transition: all 0.3s ease;
  border-color:#2f40d5 ;

}


.bodyoo .container_login form button {
  background: linear-gradient(105deg, #ffffff,#2f40d5);
  color: white;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 0.3rem;
}
.bodyoo .container_login form button:hover{
  background: linear-gradient(-105deg, #ffffff,#2f40d5);
}


