@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.sidebar {

  flex: 1;
  min-height: 100vh;
  background-color:#ffffff;
}
.sidebar .top {
  
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.sidebar .top .logo::before{
  content: "";
position: absolute;
left: 0;
bottom: 0;
height: 3px;
width: 30px;
border-radius: 5px;
background: linear-gradient(135deg, #ffffff,#2f40d5);
}
.sidebar .top .logo {
  position: relative;
  text-align: center;
  background-color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}



.sidebar .center ul li {
  display: flex;
  align-items: center;
  padding: 20px;
  cursor: pointer;
  width: 100%;
}
.sidebar .center ul li:hover {
  background: linear-gradient(-105deg, #ffffff,#2f40d5);
  width: 100%;
}
.sidebar .center ul li .icon {
  font-size: 20px;
  color: #000000;
}
.sidebar .center ul li span {
  font-size: 15px;
  font-weight: 600;
  color:#221e1e;
  margin-left: 10px;
}



